body {
  background: lightblue;
  font-family: sans-serif;
  color: white;
  font-size: 24px;
  margin: auto;
}

.container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 2fr;
  align-items: flex-start;
  padding-right: 0.5rem;
}
.HP {
  display: grid;
}

.left {
  height: 100%;
  max-width: 30%;
  margin-left: 1em;
}
img {
border-radius: 30px;
}
.right {
  display: grid;
  max-width: 65%;
  flex-direction: column;
  margin-left: 10em;
}

.ITP {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  grid-template-rows: (auto-fit, minmax(300px, 1fr));
  gap: 2em;
  margin-top: 3em;
  gap: 2em;
}

.ITP-item {
  grid-template-rows: (auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

@media (max-width: 960px){
  .left {
    display: none;
  }
  .container{
    margin-left: -9em;
    display: flex;
    align-items: center;
  }
}
  .ITP {
    grid-template-rows: (auto-fit, minmax(300px, 1fr));
    gap: 2em;
  }